* {
    font-family: Bodoni MT;
}


body{
    margin: 0;
    padding: 0;
    height: 200vh;
    width: 100vw;
}

/*removing scrollbar*/
html {
	overflow: scroll;
	overflow-x: hidden;
	}
::-webkit-scrollbar {
	width: 0px; 
	background: transparent; 
}
	
::-webkit-scrollbar-thumb {
	background: #FF0000;
}
/*snippet end*/

.container1{
    position: relative;
    height: 100vh;
    background-color: rgb(235, 235, 235);
}
.nav{
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto;
    left: 20px;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    font-size: 1.7rem;
    top: 3vh;
}
.bartop{
    width: 70px;
    height: 10px;
    background-color: #CD0000;
}
select{
    position: absolute;
    left: calc(50vw - 110px);
    top: calc(3vh + 30px);
    height: 3.5vh;
}
.embrace{
    position: absolute;
    top: 20vh;
    left: 30px;
    font-size: 3.5rem;
}
.personal{
    font-size: 25px;
}
form{
    position: absolute;
    top: 45vh;
    left: 30px;
    display: grid;
    grid-template-rows: repeat(3,9vh);
    grid-gap: 40px; 
    width: 40vw;
    border: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left: 15px;
}
input{
    box-shadow: 5px 10px 20px 1px #888888;
    opacity: 0.7;
    font-size: 1rem;
    border: none;
}
.sign{
    margin: 4vh 0 0 0 ;
    position: absolute;
    top: 90vh;
    left: 30px;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 20vw 2vw 2vw 2vw;
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
}
.signup{
    white-space: nowrap;
    margin: 0;
    padding: 2vh 2.7vw 2vh 2.7vw;
    background-color: #CD0000;
    color: black;
    border-radius: 5px;
    font-size: 2.7vh;
    font-weight: bold;
    color:white;
    box-sizing:border-box;
    width:20vw;
    height:7vh;
    text-align:center;
}
.signup:hover {
    box-shadow: 0.1vh 0.1vh 0.5vh 0.3vh rgb(117, 117, 117);
}
.or{
    font-weight: bold;
    color: #A8A8A8;
    font-size: 1.1rem;
}
.bottom{
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 10vw 10vw;
    grid-gap: 30px;
    left: 30px;
    justify-items: center;
    align-items: center;
}
.barbottom{
    height: 10px;
    width: 8vw;
    background-color: #CD0000;
}



.container2{
    height: 100vh;
    width:50vw;
    background-image: url(./img/main.jpg);
    background-size: 50vw auto;
    background-repeat: no-repeat;
    position:fixed;
    top:0vw;
    left:50vw;
}


.container2 h1 {
    font-size:8em;
    font-family: "sans-serif";
    color:white;
    position:relative;
    top:-10vh;
    left:2vw;
}

#choiceSlider {
    position:fixed;
    top:50vh;
    left:44.5vw;
     width: 10vw;
     height:7vh;
     z-index:900;
    display:grid;
    grid-template-columns: 7vh 1.5vh 5.5vh 2vh 6vh;
    background-color:rgb(241, 241, 241);
    transform:rotate(90deg);
    border-radius:10vh;
    box-shadow: 0.1vh 0.1vh 0.2vh 0.2vh rgb(189, 187, 187);
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0em 9em 2.5em 0.5em;
}
.activeChoice {
    width:18px;
    height:18px;
    border-radius: 100%;
    border:3px solid black;
    box-sizing:border-box;
}

.nonactiveChoice {
    width:15px;
    height:15px;
    border-radius: 100%;
    background-color:rgb(206, 206, 206);
}
.choiceSliderBars {
    width:2px;
    height:3vw;
    background-color:rgb(206, 206, 206);
    z-index:100000;
    transform:rotate(90deg);
    /*top defined in the html*/
}

#prefContainer {
    background-color:rgb(235, 235, 235);
    width:50vw;
    height:105vh;
    position:relative;
    top:-3.5vh;
    left:0vw;
}

#prefHeader {
position: absolute;
top:9vw;
left:5vh;
display:grid;
grid-template-rows: 1fr 1fr;
white-space: nowrap;
}
#prefHeader #prefHeading {
    font-size:3.5em;
}

#prefHeader #prefSubtitle {
    font-size:1.6em;
}

#prefCarousel {
    position: absolute;
    top:40vh;
    left:2vw;
    width:45vw;
    height: 50vh;
    background-image: url("./img/cyclingGuy.png");
    background-repeat: no-repeat;
    background-size: cover;
   border-radius: 0 0 5% 5%;
}



#prefCarouselHeader {
    color:white;
    font-size:3em;
    position:relative;
    top:5vh;
    left:3vw;
    z-index:900;
}

#prefChoices {
    position: absolute;
    top:95vh;
    left:2vw;
    width:10vw;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4em;
}